# **Problem 1: Unique Words in a Sentence**

In [1]:
sentence = input("Enter sentence: ")

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  python is easy and python is powerful
Unique words count: 5
Unique words: {'and', 'is', 'easy', 'python', 'powerful'}

# **Problem 2: Highest Salary from Employee Data**

In [2]:
employees = {}

n = int(input("Enter number of employees: "))

for i in range(n):
    name = input("Enter employee name: ")
    salary = int(input("Enter salary: "))
    employees[name] = salary

highest_employee = max(employees, key=employees.get)

print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Enter number of employees: 3
Enter employee name: Ravi
Enter salary: 75000
Enter employee name: Anita
Enter salary: 68000
Enter employee name: Kiran
Enter salary: 72000
Highest Salary: Ravi - 75000

# **Problem 3: Find Maximum and Minimum Values**

In [5]:
numbers = list(map(int, input("Enter numbers separated by comma: ").split(',')))

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

Enter numbers separated by comma: 45,22,89,10,66
List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# **Problem 4: Count Products Above a Price Threshold**

In [7]:
prices = list(map(int, input("Enter product prices separated by comma: ").split(',')))

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Enter product prices separated by comma: 450,1200,899,1500,300
Products above 1000: 2

# **Problem 5: Calculate Attendance Percentage**

In [8]:
attendance = input("Enter attendance (P/A) separated by space: ").split()

present_count = attendance.count("P")
total_days = len(attendance)

percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Enter attendance (P/A) separated by space: P P A P P
Attendance Percentage: 80.0

# **Problem 6: Remove Duplicate Phone Numbers**

In [11]:
phone_numbers = list(map(int, input("Enter phone numbers separated by space: ").split()))

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Enter phone numbers separated by space: 9876543210 9123456789 9876543210
Unique phone numbers: {9876543210, 9123456789}

# **Problem 7: Count Character Frequency**

In [12]:
text = input("Enter a string: ")

char_count = {}

for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

print(char_count)

Enter a string: python
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# **Problem 8: Convert List to Tuple**

In [13]:
numbers = list(map(int, input("Enter list elements separated by space: ").split()))

numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Enter list elements separated by space: 10 20 30
Tuple: (10, 20, 30)

# **Problem 9: Check if a Key Exists in a Dictionary**

In [15]:
employees = {}

n = int(input("Enter number of employees: "))

for i in range(n):
    name = input("Enter employee name: ")
    employees[name] = True

search_key = input("Enter employee name to search: ")

if search_key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter number of employees: 3
Enter employee name: Sravanthi
Enter employee name: Teena
Enter employee name: Samantha
Enter employee name to search: Sravanthi
Employee exists

# **Problem 10: Calculate Average Marks**

In [16]:
marks = list(map(int, input("Enter marks separated by space: ").split()))

total = sum(marks)
average = total / len(marks)

print("Average Marks:", average)

Enter marks separated by space: 89 82 45 22 63
Average Marks: 60.2